.functionContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0px;
  padding: 20px 50px;
  max-width: 1300px;
  margin: 0 auto;
}

.linkBtn {
  display: block;
  width: 100%;
  max-width: 300px;
  background-color: rgb(200, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s ease;
}

.linkBtn:hover {
  background-color: rgb(100, 200, 200);
  cursor: pointer;
}

@media (max-width: 760px) {
  .functionContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
  }

  .linkBtn {
    max-width: 400px;
    width: 90%;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.85rem;
  }
}
